h1, h2, p {
    color: #362823;
}

.container {
    max-width: 1100px;
    /* border: 1px solid #362823;
    border-radius: 12px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding: 12px;
    margin: 0 auto;
}

.container h2 {
    font-family: "Playfair Display";
    font-size: 2.6rem;
}

.container p {
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-text {
    font-size: 2.2rem;
    font-weight: 600;   
}

.welcome-description {
    font-size: 1.4rem;
    font-style: italic;
    color: #79685a;
}

.separator-line {
    width: 250px;
    height: 2px;
    background-color: #D4A373;
    margin: 40px auto;
    opacity: 0.6;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    align-items: center;
    padding: 8px;
}

.image {
    border-radius: 12px;
    box-shadow: 15px 15px 0px rgba(78, 52, 46, 0.1);
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    padding: 0 16px;
}
