@font-face {
    font-family: "Roboto Flex";
    src: url(./assets/fonts/RobotoFlex.ttf);
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-bg-color: #FBF8F3;
}

body {
    font-family: "Roboto Flex", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 8px;
}

.logo {
    
}

nav {
    display: flex;
    align-items: center;
}

main {
    height: 1000px;
    background-color: #f7f1e7;
}