@font-face {
    font-family: "Roboto Flex";
    src: url(./assets/fonts/RobotoFlex.ttf);
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --header-bg-color: #FBF8F3;
    --main-bg-color: #f7f1e7;
}

button, h1, h2, h3, h4 {
    font-family: "Roboto Flex", sans-serif;
}

body {
    font-family: "Roboto Flex", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--header-bg-color);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 8px;
}

nav {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-button {
    font-size: 1.2rem;
    border: 1px solid #faf3e7;
    border-radius: 12px;
    padding: 12px 20px;
    
}

main {
    flex: 1;
    background-color: var(--main-bg-color);
}